:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pinki: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd982;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 52px;
    height: 100vp;
    padding: 24px;
}
.list{
    list-style: none;
    padding: 0;
    margin: 24px 0 0;
    position: relative;
}
.list--secondary{
    position: absolute;
    bottom: 0;
}
.list__item{
    margin-bottom: 24px;
}
.container ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pinki);
}
.list__item__link{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
.list__item__link--email{
    font-size: var(--sm);
    font-weight: 300 
}
.list__item__link--secondary{
    font-size: var(--sm);
    color: var(--hospital-green);
}